.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputField {
  padding: 12px 15px;
  border: 1px solid var(--card-border);
  border-radius: var(--radius-sm);
  background-color: var(--bg-color);
  color: var(--text-primary);
  outline: none;
}

.inputField:focus {
  border-color: var(--accent-color);
}